**/__pycache__
**/recipes.parquet
**/reviews.parquet
**/sustitutions.parquet
**/cleaned_recipes.parquet
**/cleaned_reviews.parquet
**/Ingredients.graphml
**/Recipes.graphml
**/Reviewers.graphml
**/Sustitutions.graphml